version: "3.7"

# postgresql://username:password@hoppscotch-postgres:5432/mydatabase
services:

  app_proxy:
    environment:
      # The format here is: <app-id>_<docker-service-name>_1
      APP_HOST: sparkles-hello-world_server_1
      APP_PORT: 3000
    
  hoppscotch-postgres:
    image: postgres:latest-alpine
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mydatabase 
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always
